body {
    margin: 0;
    padding: 0;
}
main {
    background: linear-gradient(to left, rgb(245, 243, 236), rgb(252, 252, 252));
    margin: 0;
    padding: 0;
}
.order-advertisment {
    width: 74%;
    background-image: url("../../images/flowers.jpeg");
    height: 510px;
    background-size: cover;
    margin-top: 12px;
}

.guarantee {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    padding: 5px 0;
    border-top: 2px solid rgb(197, 196, 196);
    border-bottom: 2px solid rgb(197, 196, 196);
}

.options {
    height: 510px;
    width: 25%;
    margin-right: 1%;

    div {
        height: 162px;
        margin-top: 12px;
        background-color: white;
    }

    span {
        font-family: 'Lato', sans-serif;
    }
}

.advice-to-see {
    margin-left: 25px;
    margin-top: 10px;
}

.main-option-header {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin-left: 25px; 
    padding: 0;
}

.small-option-header {
    font-family: 'Lato', sans-serif;
    color: grey;
    margin: 17px 0 0 25px; 
}

.right-arrow-btn {
    margin-left: 25px;
    margin-top: 5px;
    height: 22px;
    width: 22px;
}

.advertisment {
    margin-top: 20px;
}

.separation-dots {
    margin-left: 25px;
}

.separation-dots-extra {
    margin-top: -8px;
}

.order-header {
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    padding: 0;
}

.order-header-red {
    color: red;
}

.shop-now-btn {
    width: 100px;
    border-radius: 25px;
    margin-top: 22px;
    padding: 5px;
    border: 1px solid black;
    font-family: 'Lato', sans-serif;
    background: rgba(0, 0, 0, 0);

    img {
        width: 14px;
        height: 14px;
        margin-bottom: -2px;
        color: black;
    }

    &:focus {
        outline: none;
        cursor: pointer;
    }

    &:hover {
        background-color: rgb(197, 196, 196);
        border: 1px solid rgb(197, 196, 196);
    }

    &:active {
        background-color: rgba(197, 196, 196, 0.5);
        border: 1px solid rgba(197, 196, 196, 0.5);   
    }
}

.order-advertisment-content {
    margin-top: 220px;
    margin-left: 364px;
    width: 250px;   
    align-items: center;
}



//products blocks

.featured-products {
    margin-top: 62px;   
}

.new-arrivals {
    margin-top: 32px;
}

.most-popular {
    margin-top: 32px;
}

.products-row {
    //margin-top: 62px;

    h3 {
        font-family: 'Lato', sans-serif;
        font-weight: normal;
    }
}

.products-row-blocks {
    justify-content: space-between;
}

.block-item {
    width: 225px;
    text-align: center;
    margin-top: -15px;

    h4 {
        font-family: 'Lato', sans-serif;
        font-weight: normal;   
    }
}

.sell-item-img {
    width: 100%;
    margin-top: -10px;
}

.price-and-order {
    justify-content: center;
    padding: 10px 0;

    span {
        margin-right: 10px;
        font-family: 'Lato', sans-serif;
    }

    button {
        border-radius: 25px;
        font-family: 'Lato', sans-serif;
        background: rgba(0, 0, 0, 0);
        border: 1px solid black;
        padding: 2px 10px;

        &:focus {
            outline: none;
            cursor: pointer;
        }

        &:hover {
            background-color: rgb(197, 196, 196);
            border: 1px solid rgb(197, 196, 196);
        }

        &:active {
            background-color: rgba(197, 196, 196, 0.5);
            border: 1px solid rgba(197, 196, 196, 0.5);   
        }
    }
}